@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:wght@700&family=Press+Start+2P&display=swap');

* {
  font-family: "Iceland", sans-serif;
  font-optical-sizing: auto;
}

.App {
  position: relative;
}

.App-logo {
  height: 70px;
  pointer-events: none;
  margin-left: 5%;
}



.header_style {
  width: 80%;
  justify-content: center;
  margin: 10px 5%;
  position: fixed; /* Make the header floating */
  position-area: top; /* Position at the top of the viewport */
  z-index: 9999; /* Ensure the header is on top of all other elements */
  padding-left: 20px;
  padding-right: 20px;
  height: 8vh;
  background: rgba(104, 103, 103, 0.25); /* Add background to make it visible */
  backdrop-filter: blur(10px); /* Frosted glass effect */
  -webkit-backdrop-filter: blur(10px); /* Safari compatibility */
}
.glass-background {
  background: rgba(104, 103, 103, 0.25); /* semi-transparent white background */
  backdrop-filter: blur(10px);           /* frosted glass effect */
  -webkit-backdrop-filter: blur(10px);   /* for Safari compatibility */
  border-radius: 10px;                   /* rounded corners */
  border: 1px solid #ffbf0031; /* subtle border for depth */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* soft shadow for depth */
}

.menu_style {
  font-size: 2rem;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu_style p {
  transition: all 0.5s ease-in-out,  border-bottom 0.2s ease-in-out;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  margin: 0;
}

.menu_style p:hover {
  color: #FFC000;
  background-color: #434242;
  border-bottom: 10px solid #FFC000;
  cursor: pointer;
  text-shadow: #FFC000;
}

.hero-logo {
  
    padding: 0 20px;
    margin: 0;
    transition: all 0.5s ease-in-out,  border-bottom 0.2s ease-in-out;
    height: 100%;
    align-items: center;
    text-align: center;
  
}

.gradient-text {
  background: linear-gradient(to right, #b8860b, #ffbf00);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  /* Fallback for browsers that do not support text-fill-color */
}

h1 {
  color: whitesmoke;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: 
    linear-gradient(rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0.5)),
    url('/public/assets/pixel_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-y: auto; /* Enable vertical scrolling */
  color: white;
  background-color: black;
}

/* Default: Hide small menu */
.menu_small {
  display: none;
}

/* Default: Show large menu */
.menu_large {
  display: flex;
}

@media (max-width: 768px) {
  /* Show small menu on smaller screens */
  .menu_small {
    display: block;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 20px;
    margin: 0;
    transition: all 0.5s ease-in-out,  border-bottom 0.2s ease-in-out;
    height: 100%;
    align-items: center;
    text-align: center;

  }
  

  /* Hide large menu on smaller screens */
  .menu_large {
    display: none;
  }
}

.menu_small:hover{
  cursor: pointer;
  background-color: #434242;
  border-bottom: 10px solid #FFC000;
  text-shadow: #FFC000;
}

.CV {
  position: relative;
  width: 100%;
  max-height: 100vh; /* Constrain the height to the viewport */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), /* Dark overlay */
    url('/public/assets/CV_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: auto; /* Enable scrolling for overflowing content */
  color: white;
  background-color: black;
  padding: 0 20px; /* Add padding to prevent content from touching edges */
}